body {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #000000;
}


.ui-widget-overlay {
    background: repeat-x scroll 50% 50% #AAA;
    opacity:0.3;
}

.ui-widget-overlay {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.icon-name {
  font-color:#FFFFFF;
}
#menu {
  background: #000000  url(../images/london.png) top center no-repeat;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  margin: 0px 15px 0px 12px;
}

#logo h1 { background: url(../images/asisium-logo.png) top left no-repeat;
  position: absolute;
  top: 10px;
  width: 104px; 
  height: 41px;
  z-index:10000;
}

#logo h1 a {
  width: 104px;
  line-height: 41px;
  display: block;
  text-indent: -5000px;
  text-decoration: none;
  border: none;
  background: none;
}

#logo h1 a:hover {background:none;border:none;text-decoration: none;}

#ft {
  position: absolute;
  top: 515px;
  right: 15px;
  text-align: right;
}

#ft p {
  float: right;
  color: #FFFFFF;
  font-size: 77%;
}
